{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}
<h1>Résultats de recherche</h1>

<p>Recherche pour la période du {{ start_date }} au {{ end_date }}.</p>

<!-- Liste des véhicules disponibles -->
{% for vehicule in vehicule %}
    <div>
        <h2>{{ vehicule.name }}</h2>
        <p>{{ vehicule.description }}</p>
        <p>{{ vehicule.modele }}</p>
        <p>{{ vehicule.marque }}</p>
        <!-- Autres détails du véhicule -->
    </div>
{% else %}
    <p>Aucun véhicule disponible pour cette période.</p>
{% endfor %}
{% endblock %}
