{% extends 'base.html.twig' %}

{% block title %}Résultats de recherche{% endblock %}

{% block body %}
<h1>Résultats de recherche</h1>

<p>Recherche pour la période du {{ start_date }} au {{ end_date }}.</p>

{% for vehicle in vehicles %}
<div>
    <h3>{{ vehicle.titre }}</h3>
    <p>Marque: {{ vehicle.marque }}</p>
    <p>Modèle: {{ vehicle.modele }}</p>
    <p>titre: {{ vehicle.titre }}</p>
    <p>description: {{ vehicle.description }}</p>
    <img src="{{ vehicle.photo }}" />

    <!-- Autres détails du véhicule -->
</div>
{% endfor %}
{% endblock %}
